@page "/Login"
<h3>Login</h3>

<Row>
    <Column>
        <Row>
            <Column>
                <Fields>
                    <Row>
                        <Column>
                            <Field ColumnSize="ColumnSize.IsHalf">
                                <FieldLabel>Login</FieldLabel>
                                <FieldBody>
                                    <TextEdit >
                                    </TextEdit>
                                </FieldBody>
                            </Field>
                        </Column>
                    </Row>
                    <Row>
                        <Column>
                            <Field ColumnSize="ColumnSize.IsHalf">
                                <FieldLabel>Password</FieldLabel>
                                <FieldBody>
                                    <TextEdit>
                                    </TextEdit>
                                </FieldBody>
                            </Field>
                        </Column>
                    </Row>
                </Fields>
            </Column>
        </Row>

    </Column>
</Row>


@code {

}
